body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #EFEFEF;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#search {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#search input {
    padding: 1.2rem;
    font-size: 16px;
    border: 1px solid darkred;
    background: #FFF;
    border-radius: 8px;
    outline: none;
    width: 60%;
}

#search button {
    height: 3.5rem;
    width: 7rem;
    display: flex;
    place-content: center;
    place-items: center;
    font-size: 16px;
    color: white;
    background-color: darkred;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#movies {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: auto;

}

.movie_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
}

.movie_container>* {
    justify-self: center;
}

.movie {
    margin-inline: 2rem;
    position: relative;
}

.movie h3 {
    max-width: 80%;
}
.movie button{
    background: #FFF;
    border: none;
    color: green;
    position: absolute;
    font-size: 26px;
    top:0;
    left: 0;
    padding:0.5rem;
    border-radius: 5px;
    margin: 1rem;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 25px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side, #FFF 94%, #0000);
    background:
        var(--_g) 0 0,
        var(--_g) 100% 0,
        var(--_g) 100% 100%,
        var(--_g) 0 100%;
    background-size: 20% 20%;
    animation: l38 .5s infinite;
}
.loader_green {
    width: 25px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side, green 94%, #0000);
    background:
        var(--_g) 0 0,
        var(--_g) 100% 0,
        var(--_g) 100% 100%,
        var(--_g) 0 100%;
    background-size: 20% 20%;
    animation: l38 .5s infinite;
}

@keyframes l38 {
    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0
    }
}
.header{
    position: absolute;
    top: 0;
    right: 0;
    color: darkred;
    font-size: 30px;
    margin: 2rem;
    cursor: pointer;
    display: none;
}
.popover {
    position: absolute;
    top: 50px;
    margin-top: 1.2rem;
    margin-right: 1rem;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    display: none;
    width: 200px;
    z-index: 100;
    padding:1rem;
}

/* Arrow for the popover */
.popover::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 1rem;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.info{
    height: 8rem;
}

.header a{
    text-decoration: none;
    color: darkred;
    font-weight: bold;
    border: 1px solid darkred;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
}
#email{
    font-size: 10px;
    color: darkred;
    background: #FFF;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    display: none;
    padding: 5px!important;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
}
.popover a{
    border: none;
    color: darkred;
    font-weight: bold;
    border: 1px solid darkred;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}
#login a{
    border: none;
    color: darkred;
    font-weight: bold;
    border: 1px solid darkred;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}